.bgFooter{
    background-image: url('../../assets/backgroundFooter.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;

}
.contactTitle{
    font-family: 'Julee', cursive !important;
    color: #F05454;
    padding-top: 60px;
    font-size: 40px;
}
.contact{
    font-family: 'Julee', cursive !important;
    font-size: 27px;
    font-weight: bold;
    color: #444;
}
/* .paddingTop{
    padding-top: 20px;
} */
.icons{
    font-size: 31px;
    gap: 5px;
    margin-top: 10px;
    width: fit-content;
}
.portfolioicons{
    width:45px;
    height:45px;
    border:2.5px solid #444;
    background-color: #f5f5f5;

    margin: 5px;
    transition: all 0.2s ease-in;
    color: #444;

    border-radius: 50%;
 }
 .portfolioicons i{
    font-size: 25px;
    color: #444;

 }

 .portfolioicons:hover{
     background-color: #444;
     border-color:#fff;
 }
 button:active{
border: none;
 }
 .contactIcons{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Julee', cursive !important;
    font-size: 22px;

 }
 .contactIcons a{
    text-decoration: none;
    color: #444!important;
 }
 .portfolioicons:hover i{
     color: #fff;
 }
 .bgForm{
    background-color: #D9D9D9;
 }
 .inputStyle{
    background-color: #444!important;
    padding:10px!important;
    border: none!important;
    border-radius:8px!important;
font-size: 18px;
 }
 .inputStyle:active,.inputStyle:focus{
    border: none!important;
    box-shadow: none!important;

 }
 .inputStyle::placeholder{
    color: #f5f5f5!important;
    font-family: 'Julee', cursive !important;

 }
 .submitBtn{
    background-color: #F05454!important;
    color: #f5f5f5!important;
    font-family: 'Julee', cursive !important;
    font-size: 18px!important;
 }
@media screen and (min-width:1000px) {

    .contactTitle{
        margin-bottom: 20px;
    }
    .paddingTop{
        padding-top: 20px;
    }

}
@media screen and (max-width:700px){
    .bgFooter{
        height: 100%;
    }
}