@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=Julee&family=Libre+Baskerville&family=PT+Serif:wght@700&display=swap');
.sidebar{
    bottom: 21.5%;
    right: 4%;
    position: fixed;
    z-index: 99;
    padding: 9px 9px 9px 0;
    transform: translateX(50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .icon{
    padding: 10px 15px;
    border-radius: 50%;
    font-size:24px;
  }
  .button,.fingerprint{
    width: 70px;
    height: 70px;
    border-radius: 50%;

  }
  .button,.fingerprint{
    background-image: linear-gradient(45deg,#000,80%,#444);
    /* background-color: rgba(0,0,0,1); */
    border: none;
    margin-left: 7px;
    padding: 5px 0;

    transition: all 0.4s;
  }
  .button:hover,.fingerprint:hover{
    background-color:#444;
  
  }
  .button:hover span{
    display: block;
  }
  .button:hover,.btn:hover img{
    transform: scale(1.05);
  }
  .fingerprint:hover{
    transform: scale(1.05);
  }
  .button img{
    width: 50%;

  }
  .button span{
    top: 100%;
    right: 90%;
   background-color: #444;
   font-weight: 500;
   display: none;
   font-size: 18px;
   font-family: 'Julee', cursive !important;

  }

  @media screen and (max-width:700px) {

    .button,.fingerprint{
      width: 50px;
      height: 50px;
    }
    .sidebar{
      flex-direction: row;
      gap: 1px;
      background-color: transparent;
      bottom: 0%;
      right: 50%;
    }
    .icon{
      padding: 15px 20px;
    }
    .button img{
      width: 55%;
  
    }
  }
  @media screen and (min-width:701px) and (max-width:1220px) {

    .button,.fingerprint{
      width: 70px;
      height: 70px;
    }
    .sidebar{
      flex-direction: row;
      gap: 10px;
      background-color: transparent;
      bottom: 0%;
      right: 50%;
    }
    .icon{
      padding: 15px 20px;
    }
    .button img{
      width: 55%;
  
    }
  }
  @media screen and (min-width:993px) and (max-width:1200px) {
    .sidebar{
      bottom: 0%;
      right: 50%;
    }

  }
  