
.typed-cursor.typed-cursor--blink {
  color: #f5f5f5;
}

.navbar-nav .nav-link.active {
  color: #F05454;
}
.navbar-nav .nav-link:hover {
  color: #F05454;
}
.navbar-nav .nav-link {
  color: #f5f5f5;
}
.accordion-button::after{
  background-image: url('./assets/chevron-up.svg')!important;
}
.accordion-header{
  font-family: 'Julee', cursive !important;

}